chatagent-PRODUCTION.json
{
  "updatedAt": "2026-04-09T12:35:03.920Z",
  "createdAt": "2026-02-16T12:32:31.204Z",
  "id": "u12CayJegxExkV8I",
  "name": "ChatAgent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "userIds": "1828879064"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        512
      ],
      "id": "c27ff17f-7e61-4adb-b6a0-c2cfa2c3d7f0",
      "name": "Telegram Trigger",
      "webhookId": "eb22b55f-ad55-46e7-93ca-b3ad41960521",
      "credentials": {
        "telegramApi": {
          "id": "Iw2ccnrLsZFZkMDZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "====[CONTEXTO DEL EVENTO]\nOrigen: {{ $prevNode.name === 'Telegram Trigger' ? 'Telegram_Texto' : ($prevNode.name === 'Strava Trigger' ? 'API_Strava' : ($prevNode.name === 'Schedule Trigger' ? 'Trigger_2h' : 'Siri_Voz')) }}\n\n[CONTENIDO]\n{{ $prevNode.name === 'Telegram Trigger' ? $json.message.text : ($prevNode.name === 'Strava Trigger' ? JSON.stringify($json) : ($prevNode.name === 'Schedule Trigger' ? 'Ejecuta revisión proactiva programada. Consulta memoria, clima y calendario. Si no hay nada relevante, no envíes nada.' : JSON.stringify($json.body))) }}",
        "options": {
          "systemMessage": "==[IDENTITY & SOUL]\nEres Paco, el asistente personal de IA de Alejandro (Alcobendas). Arquitectura inspirada en OpenClaw. Tu misión: optimizar su vida, actuar como su segundo cerebro y gestionar su información con máxima eficiencia.\nTono: Directo, brillante, proactivo. Cercano y de confianza, pero siempre de alto rendimiento.\n\n[RUNTIME & ENVIRONMENT]\n- Fecha y Hora Local: {{ $now.setZone('Europe/Madrid').toFormat('cccc, dd MMMM yyyy, HH:mm') }}\n- Zona Horaria: Europe/Madrid (CET)\n\n[MEMORY OPERATIONS (PostgreSQL)]\nTienes acceso a la tabla 'memoria_paco'. Eres el guardián de su contexto.\n- READ (Select rows): Úsala SIEMPRE antes de responder si Alejandro pregunta por sus gustos, historial, equipo, universidad o datos pasados.\n- WRITE (Insert rows): Si en la conversación Alejandro menciona un dato nuevo y relevante sobre sí mismo (ej: \"Me duele la rodilla\", \"Tengo examen el martes\"), guárdalo proactivamente en la base de datos sin pedir permiso.\n[REGLA DE MEMORIA OBSIDIAN]\nTienes acceso a mis notas personales y apuntes de la universidad mediante la herramienta Memoria_Obsidian.\n\nSi te pregunto algo sobre Ingeniería del Software, temas personales o académicos, consulta la herramienta SIEMPRE antes de responder.\n\nSi encuentras la información, cítala de forma natural (ej: \"Según tus notas de Ingeniería...\").\n\nSi la búsqueda no devuelve nada, dímelo y responde con tu conocimiento general.\n[SKILLS & ROUTING]\n\n<skill name=\"Telegram_Texto\">\nFORMATO OBLIGATORIO PARA TELEGRAM:\n1. Usa HTML básico (<b>texto</b>, <i>texto</i>).\n2. PROHIBIDO usar Markdown (**, _, #, |). Si usas Markdown, el bot fallará al enviar el mensaje.\n3. Para listas o datos estructurados usa emojis (📅 Lunes: 16:00 - Rodaje).\n4. Sé extremadamente conciso. Evita los párrafos largos.\n</skill>\n\n<skill name=\"API_Strava\">\nCuando recibas datos de Strava, extrae métricas clave y guarda un resumen en la base de datos (WRITE). Luego, genera un reporte ejecutivo para Alejandro.\n</skill>\n\n<skill name=\"Trigger_2h\">\nREGLA CRÍTICA PARA REVISIONES PROACTIVAS:\nSolo envía un mensaje a Alejandro si se cumple UNO de estos criterios:\n  ✅ Alerta meteorológica severa que afecte Alcobendas en las próximas 6h.\n  ✅ Recordatorio crítico de un evento en su calendario para las próximas 4h.\n  ✅ Insight accionable importante (ej: \"Hace 3 días que no registras entreno\").\nSi NO hay nada urgente, NO RESPONDAS NADA. Silencio total.\nSi hay algo urgente, el formato será:\n[Emoji] <b>Título breve</b>\nCuerpo en 2 líneas.\n💡 Acción sugerida.\n</skill>\n\n[SAFETY & GUARDRAILS]\n- NUNCA inventes o alucines datos personales de Alejandro. Si no lo sabes tras buscar en la base de datos, admítelo.\n- Para conocimiento general, responde directamente.\n- No incluyas procesos de pensamiento en la respuesta final.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -48
      ],
      "id": "9f6f14b0-1293-4f0d-a6d4-d04ef75542ef",
      "name": "AI Agent",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "=1828879064",
        "text": "=={{ $json.output.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/&lt;b&gt;/g, '<b>').replace(/&lt;\\/b&gt;/g, '</b>').replace(/&lt;i&gt;/g, '<i>').replace(/&lt;\\/i&gt;/g, '</i>') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        -192
      ],
      "id": "bdbe56e5-4b0a-43e1-a8bb-f9fb0b61c695",
      "name": "Send a text message",
      "webhookId": "5538a5af-a522-42c1-b407-37d391c0d527",
      "credentials": {
        "telegramApi": {
          "id": "Iw2ccnrLsZFZkMDZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Esta herramienta sirve para buscar, leer y enviar correos desde mi cuenta de Gmail",
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "q": "={{ $fromAI('busqueda', 'Término de búsqueda. Si el usuario solo quiere ver los últimos correos sin especificar nada, usa \"label:INBOX\" o déjalo vacío.') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        64,
        640
      ],
      "id": "ed26c82e-a6f0-4651-b077-ff553b3e2e90",
      "name": "Get many messages in Gmail",
      "webhookId": "292d8f89-7d65-4d4e-9772-7c9085534d29",
      "credentials": {
        "gmailOAuth2": {
          "id": "cEqHMhArq7oPX0wS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa esta herramienta para añadir eventos a mi calendario de Google. Necesitas el título, fecha y hora, lugar y descripcion",
        "calendar": {
          "__rl": true,
          "value": "alexrico005@gmail.com",
          "mode": "list",
          "cachedResultName": "alexrico005@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `La fecha y hora de inicio del evento en formato ISO (ej: 2026-02-16T15:00:00)`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `La fecha y hora de fin del evento`, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Breve descripcion del evento`, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ` El lugar del evento`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `El titulo o nombre del evento `, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        672
      ],
      "id": "130c9b21-0b49-4b68-9e89-dc8af0f8da1b",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RKNDWKhI7S8vrj3R",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        576,
        608
      ],
      "id": "ce515145-f3d4-4f85-b96d-5e674b80f224",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "uNjDxuXQBd8rggRq",
          "name": "OpenWeatherMap account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1828879064",
        "text": "Paco está durmiendo, inténtalo en un rato",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        224
      ],
      "id": "517fce52-61b5-457e-bce3-0728b50bc22c",
      "name": "Send a text message1",
      "webhookId": "0fe25780-663b-41e8-b0b6-de41234f9242",
      "credentials": {
        "telegramApi": {
          "id": "Iw2ccnrLsZFZkMDZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alexrico005@gmail.com",
          "mode": "list",
          "cachedResultName": "alexrico005@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `despues de`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `antes de `, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        816
      ],
      "id": "e7355c74-8536-4a79-893f-9471e0ab4ab0",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RKNDWKhI7S8vrj3R",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "alexrico005@gmail.com",
          "mode": "list",
          "cachedResultName": "alexrico005@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id del evento`, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        912,
        592
      ],
      "id": "d828b707-526a-4f9d-a90f-696694f03f1d",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RKNDWKhI7S8vrj3R",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crear una tarea o cosa que hacer en google tasks",
        "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Titulo de la tarea a crear`, 'string') }}",
        "additionalFields": {
          "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `'due': fecha de vencimiento OBLIGATORIAMENTE en formato RFC3339 (ej: 2026-02-17T20:00:00Z).\nIMPORTANTE: Si no sabes la hora, pon las 09:00:00Z.\"`, 'string') }}",
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `'due': fecha de vencimiento OBLIGATORIAMENTE en formato RFC3339 (ej: 2026-02-17T20:00:00Z).\nIMPORTANTE: Si no sabes la hora, pon las 09:00:00Z.\"`, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `descripcion de la tarea`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        496,
        688
      ],
      "id": "507c2eed-efec-4686-b5f3-6693ba8ee61e",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qTdAG4ihSpivDH3g",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Revisar mis tareas en google taskjs",
        "operation": "getAll",
        "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        400,
        688
      ],
      "id": "392fc083-57b7-4878-ab71-3bd3af6f2989",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qTdAG4ihSpivDH3g",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "se usa para marcar tareas de google tasks como completadas. Necesitas el id de la tarea, buscalo primero si no lo tienes",
        "operation": "update",
        "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', `Id de la tasks a cambiar`, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        672,
        720
      ],
      "id": "1304a297-7899-440a-a0a7-4274170d2318",
      "name": "Update a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qTdAG4ihSpivDH3g",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d4029b4-7fcf-490a-a04f-73c08b3809fe",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        -64
      ],
      "id": "64afdb18-88c9-49ba-9fa5-3d37bc451450",
      "name": "Webhook",
      "webhookId": "9d4029b4-7fcf-490a-a04f-73c08b3809fe"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        160,
        608
      ],
      "id": "b3bf782f-b3d8-455b-8704-0aa8168bf715",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "70qYAfd21Nu8yTk1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        416,
        976
      ],
      "id": "36c45ae8-8a6a-4ebc-a4b4-267371a0e6cc",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Usa esta herramienta con el método GET para extraer el texto completo de una URL que hayas encontrado previamente en SerpAPI",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        528,
        944
      ],
      "id": "3184e994-8edc-4069-8875-e2f16555209a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta obligatoria para leer y guardar la memoria a largo plazo de Alejandro. \nLa base de datos es PostgreSQL. La tabla se llama \"memoria_paco\".\nEstructura de la tabla: id (SERIAL), dato (TEXT), categoria (TEXT).\n\nREGLAS DE USO:\n1. PARA LEER (Cuando Alejandro pregunte por algo de su pasado o sus gustos): \nEjecuta una consulta SQL como esta: SELECT dato FROM memoria_paco; \n(Puedes usar WHERE dato ILIKE '%palabra%' para buscar algo concreto).\n\nHerramienta para LEER la memoria de Alejandro. Úsala SIEMPRE que te pregunte sobre su pasado, sus gustos o sus datos (ej: \"¿Qué estudio?\", \"¿Cuál es mi equipo?\"). Busca palabras clave en la columna 'dato'.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "memoria_paco",
          "mode": "list",
          "cachedResultName": "memoria_paco"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -208,
        704
      ],
      "id": "43788e2d-ebb3-4dda-8802-04c0a4a3f508",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "qBUlViRVRXIdibki",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1828879064"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        432
      ],
      "id": "77e0f574-af6d-4f16-9bf2-a656a5fd9dbb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        1248
      ],
      "id": "26e8e74a-6b3d-487e-ade0-e9ee98dea317",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kFHe6UWFt3ZGNgPI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -688,
        896
      ],
      "id": "6e3dfcfe-5060-479e-ac35-a691bc7ca744",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": "memoria_vectorial",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1216,
        896
      ],
      "id": "a39d9782-8605-4c03-8bda-5c2ad5f43883",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "qBUlViRVRXIdibki",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -992,
        1088
      ],
      "id": "07066f7e-50a4-4282-a0f0-764a3a37f240",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "yjZqtJsoDBtXKdsU",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insert rows in a table in Postgres",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "memoria_paco",
          "mode": "list",
          "cachedResultName": "memoria_paco"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dato": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dato', ``, 'string') }}",
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dato",
              "displayName": "dato",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -64,
        800
      ],
      "id": "5ee0fc65-7870-48b5-a31e-a3997c88c9b5",
      "name": "Insert rows in a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "qBUlViRVRXIdibki",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        []
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Strava Trigger": {},
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1771432292,
        "possibleDuplicates": [
          "19c7197b3262fa1d",
          "19c7175acd52a269"
        ]
      }
    },
    "node:Schedule Trigger": {
      "recurrenceRules": [
        9
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "777b4af4-fc0a-4358-9c2b-e77b7651ccb5",
  "activeVersionId": "777b4af4-fc0a-4358-9c2b-e77b7651ccb5",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-16T12:32:31.210Z",
      "createdAt": "2026-02-16T12:32:31.210Z",
      "role": "workflow:owner",
      "workflowId": "u12CayJegxExkV8I",
      "projectId": "8TlqgFtyNbA80VNg"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-10T17:17:26.000Z",
    "createdAt": "2026-04-09T12:35:03.921Z",
    "versionId": "777b4af4-fc0a-4358-9c2b-e77b7651ccb5",
    "workflowId": "u12CayJegxExkV8I",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": true,
            "userIds": "1828879064"
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1136,
          512
        ],
        "id": "c27ff17f-7e61-4adb-b6a0-c2cfa2c3d7f0",
        "name": "Telegram Trigger",
        "webhookId": "eb22b55f-ad55-46e7-93ca-b3ad41960521",
        "credentials": {
          "telegramApi": {
            "id": "Iw2ccnrLsZFZkMDZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "====[CONTEXTO DEL EVENTO]\nOrigen: {{ $prevNode.name === 'Telegram Trigger' ? 'Telegram_Texto' : ($prevNode.name === 'Strava Trigger' ? 'API_Strava' : ($prevNode.name === 'Schedule Trigger' ? 'Trigger_2h' : 'Siri_Voz')) }}\n\n[CONTENIDO]\n{{ $prevNode.name === 'Telegram Trigger' ? $json.message.text : ($prevNode.name === 'Strava Trigger' ? JSON.stringify($json) : ($prevNode.name === 'Schedule Trigger' ? 'Ejecuta revisión proactiva programada. Consulta memoria, clima y calendario. Si no hay nada relevante, no envíes nada.' : JSON.stringify($json.body))) }}",
          "options": {
            "systemMessage": "==[IDENTITY & SOUL]\nEres Paco, el asistente personal de IA de Alejandro (Alcobendas). Arquitectura inspirada en OpenClaw. Tu misión: optimizar su vida, actuar como su segundo cerebro y gestionar su información con máxima eficiencia.\nTono: Directo, brillante, proactivo. Cercano y de confianza, pero siempre de alto rendimiento.\n\n[RUNTIME & ENVIRONMENT]\n- Fecha y Hora Local: {{ $now.setZone('Europe/Madrid').toFormat('cccc, dd MMMM yyyy, HH:mm') }}\n- Zona Horaria: Europe/Madrid (CET)\n\n[MEMORY OPERATIONS (PostgreSQL)]\nTienes acceso a la tabla 'memoria_paco'. Eres el guardián de su contexto.\n- READ (Select rows): Úsala SIEMPRE antes de responder si Alejandro pregunta por sus gustos, historial, equipo, universidad o datos pasados.\n- WRITE (Insert rows): Si en la conversación Alejandro menciona un dato nuevo y relevante sobre sí mismo (ej: \"Me duele la rodilla\", \"Tengo examen el martes\"), guárdalo proactivamente en la base de datos sin pedir permiso.\n[REGLA DE MEMORIA OBSIDIAN]\nTienes acceso a mis notas personales y apuntes de la universidad mediante la herramienta Memoria_Obsidian.\n\nSi te pregunto algo sobre Ingeniería del Software, temas personales o académicos, consulta la herramienta SIEMPRE antes de responder.\n\nSi encuentras la información, cítala de forma natural (ej: \"Según tus notas de Ingeniería...\").\n\nSi la búsqueda no devuelve nada, dímelo y responde con tu conocimiento general.\n[SKILLS & ROUTING]\n\n<skill name=\"Telegram_Texto\">\nFORMATO OBLIGATORIO PARA TELEGRAM:\n1. Usa HTML básico (<b>texto</b>, <i>texto</i>).\n2. PROHIBIDO usar Markdown (**, _, #, |). Si usas Markdown, el bot fallará al enviar el mensaje.\n3. Para listas o datos estructurados usa emojis (📅 Lunes: 16:00 - Rodaje).\n4. Sé extremadamente conciso. Evita los párrafos largos.\n</skill>\n\n<skill name=\"API_Strava\">\nCuando recibas datos de Strava, extrae métricas clave y guarda un resumen en la base de datos (WRITE). Luego, genera un reporte ejecutivo para Alejandro.\n</skill>\n\n<skill name=\"Trigger_2h\">\nREGLA CRÍTICA PARA REVISIONES PROACTIVAS:\nSolo envía un mensaje a Alejandro si se cumple UNO de estos criterios:\n  ✅ Alerta meteorológica severa que afecte Alcobendas en las próximas 6h.\n  ✅ Recordatorio crítico de un evento en su calendario para las próximas 4h.\n  ✅ Insight accionable importante (ej: \"Hace 3 días que no registras entreno\").\nSi NO hay nada urgente, NO RESPONDAS NADA. Silencio total.\nSi hay algo urgente, el formato será:\n[Emoji] <b>Título breve</b>\nCuerpo en 2 líneas.\n💡 Acción sugerida.\n</skill>\n\n[SAFETY & GUARDRAILS]\n- NUNCA inventes o alucines datos personales de Alejandro. Si no lo sabes tras buscar en la base de datos, admítelo.\n- Para conocimiento general, responde directamente.\n- No incluyas procesos de pensamiento en la respuesta final.",
            "maxIterations": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          0,
          -48
        ],
        "id": "9f6f14b0-1293-4f0d-a6d4-d04ef75542ef",
        "name": "AI Agent",
        "retryOnFail": false,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "executeOnce": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "chatId": "=1828879064",
          "text": "=={{ $json.output.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/&lt;b&gt;/g, '<b>').replace(/&lt;\\/b&gt;/g, '</b>').replace(/&lt;i&gt;/g, '<i>').replace(/&lt;\\/i&gt;/g, '</i>') }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          944,
          -192
        ],
        "id": "bdbe56e5-4b0a-43e1-a8bb-f9fb0b61c695",
        "name": "Send a text message",
        "webhookId": "5538a5af-a522-42c1-b407-37d391c0d527",
        "credentials": {
          "telegramApi": {
            "id": "Iw2ccnrLsZFZkMDZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Esta herramienta sirve para buscar, leer y enviar correos desde mi cuenta de Gmail",
          "operation": "getAll",
          "limit": 10,
          "filters": {
            "q": "={{ $fromAI('busqueda', 'Término de búsqueda. Si el usuario solo quiere ver los últimos correos sin especificar nada, usa \"label:INBOX\" o déjalo vacío.') }}"
          }
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.2,
        "position": [
          64,
          640
        ],
        "id": "ed26c82e-a6f0-4651-b077-ff553b3e2e90",
        "name": "Get many messages in Gmail",
        "webhookId": "292d8f89-7d65-4d4e-9772-7c9085534d29",
        "credentials": {
          "gmailOAuth2": {
            "id": "cEqHMhArq7oPX0wS",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Usa esta herramienta para añadir eventos a mi calendario de Google. Necesitas el título, fecha y hora, lugar y descripcion",
          "calendar": {
            "__rl": true,
            "value": "alexrico005@gmail.com",
            "mode": "list",
            "cachedResultName": "alexrico005@gmail.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `La fecha y hora de inicio del evento en formato ISO (ej: 2026-02-16T15:00:00)`, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `La fecha y hora de fin del evento`, 'string') }}",
          "useDefaultReminders": false,
          "additionalFields": {
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Breve descripcion del evento`, 'string') }}",
            "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ` El lugar del evento`, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `El titulo o nombre del evento `, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          240,
          672
        ],
        "id": "130c9b21-0b49-4b68-9e89-dc8af0f8da1b",
        "name": "Create an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RKNDWKhI7S8vrj3R",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
          "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
        },
        "type": "n8n-nodes-base.openWeatherMapTool",
        "typeVersion": 1,
        "position": [
          576,
          608
        ],
        "id": "ce515145-f3d4-4f85-b96d-5e674b80f224",
        "name": "OpenWeatherMap",
        "credentials": {
          "openWeatherMapApi": {
            "id": "uNjDxuXQBd8rggRq",
            "name": "OpenWeatherMap account 2"
          }
        }
      },
      {
        "parameters": {
          "chatId": "=1828879064",
          "text": "Paco está durmiendo, inténtalo en un rato",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1280,
          224
        ],
        "id": "517fce52-61b5-457e-bce3-0728b50bc22c",
        "name": "Send a text message1",
        "webhookId": "0fe25780-663b-41e8-b0b6-de41234f9242",
        "credentials": {
          "telegramApi": {
            "id": "Iw2ccnrLsZFZkMDZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "alexrico005@gmail.com",
            "mode": "list",
            "cachedResultName": "alexrico005@gmail.com"
          },
          "limit": 10,
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `despues de`, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `antes de `, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          320,
          816
        ],
        "id": "e7355c74-8536-4a79-893f-9471e0ab4ab0",
        "name": "Get many events in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RKNDWKhI7S8vrj3R",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "alexrico005@gmail.com",
            "mode": "list",
            "cachedResultName": "alexrico005@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `id del evento`, 'string') }}",
          "updateFields": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          912,
          592
        ],
        "id": "d828b707-526a-4f9d-a90f-696694f03f1d",
        "name": "Update an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RKNDWKhI7S8vrj3R",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Crear una tarea o cosa que hacer en google tasks",
          "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Titulo de la tarea a crear`, 'string') }}",
          "additionalFields": {
            "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `'due': fecha de vencimiento OBLIGATORIAMENTE en formato RFC3339 (ej: 2026-02-17T20:00:00Z).\nIMPORTANTE: Si no sabes la hora, pon las 09:00:00Z.\"`, 'string') }}",
            "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `'due': fecha de vencimiento OBLIGATORIAMENTE en formato RFC3339 (ej: 2026-02-17T20:00:00Z).\nIMPORTANTE: Si no sabes la hora, pon las 09:00:00Z.\"`, 'string') }}",
            "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `descripcion de la tarea`, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          496,
          688
        ],
        "id": "507c2eed-efec-4686-b5f3-6693ba8ee61e",
        "name": "Create a task in Google Tasks",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "qTdAG4ihSpivDH3g",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Revisar mis tareas en google taskjs",
          "operation": "getAll",
          "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          400,
          688
        ],
        "id": "392fc083-57b7-4878-ab71-3bd3af6f2989",
        "name": "Get many tasks in Google Tasks",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "qTdAG4ihSpivDH3g",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "se usa para marcar tareas de google tasks como completadas. Necesitas el id de la tarea, buscalo primero si no lo tienes",
          "operation": "update",
          "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
          "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', `Id de la tasks a cambiar`, 'string') }}",
          "updateFields": {
            "status": "completed"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          672,
          720
        ],
        "id": "1304a297-7899-440a-a0a7-4274170d2318",
        "name": "Update a task in Google Tasks",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "qTdAG4ihSpivDH3g",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "9d4029b4-7fcf-490a-a04f-73c08b3809fe",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -848,
          -64
        ],
        "id": "64afdb18-88c9-49ba-9fa5-3d37bc451450",
        "name": "Webhook",
        "webhookId": "9d4029b4-7fcf-490a-a04f-73c08b3809fe"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
        "typeVersion": 1,
        "position": [
          160,
          608
        ],
        "id": "b3bf782f-b3d8-455b-8704-0aa8168bf715",
        "name": "SerpAPI",
        "credentials": {
          "serpApi": {
            "id": "70qYAfd21Nu8yTk1",
            "name": "SerpAPI account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          416,
          976
        ],
        "id": "36c45ae8-8a6a-4ebc-a4b4-267371a0e6cc",
        "name": "Calculator"
      },
      {
        "parameters": {
          "toolDescription": "Usa esta herramienta con el método GET para extraer el texto completo de una URL que hayas encontrado previamente en SerpAPI",
          "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          528,
          944
        ],
        "id": "3184e994-8edc-4069-8875-e2f16555209a",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta obligatoria para leer y guardar la memoria a largo plazo de Alejandro. \nLa base de datos es PostgreSQL. La tabla se llama \"memoria_paco\".\nEstructura de la tabla: id (SERIAL), dato (TEXT), categoria (TEXT).\n\nREGLAS DE USO:\n1. PARA LEER (Cuando Alejandro pregunte por algo de su pasado o sus gustos): \nEjecuta una consulta SQL como esta: SELECT dato FROM memoria_paco; \n(Puedes usar WHERE dato ILIKE '%palabra%' para buscar algo concreto).\n\nHerramienta para LEER la memoria de Alejandro. Úsala SIEMPRE que te pregunte sobre su pasado, sus gustos o sus datos (ej: \"¿Qué estudio?\", \"¿Cuál es mi equipo?\"). Busca palabras clave en la columna 'dato'.",
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "memoria_paco",
            "mode": "list",
            "cachedResultName": "memoria_paco"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          -208,
          704
        ],
        "id": "43788e2d-ebb3-4dda-8802-04c0a4a3f508",
        "name": "Select rows from a table in Postgres",
        "credentials": {
          "postgres": {
            "id": "qBUlViRVRXIdibki",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "1828879064"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -208,
          432
        ],
        "id": "77e0f574-af6d-4f16-9bf2-a656a5fd9dbb",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -144,
          1248
        ],
        "id": "26e8e74a-6b3d-487e-ade0-e9ee98dea317",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "kFHe6UWFt3ZGNgPI",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "topK": 10
        },
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1.1,
        "position": [
          -688,
          896
        ],
        "id": "6e3dfcfe-5060-479e-ac35-a691bc7ca744",
        "name": "Answer questions with a vector store"
      },
      {
        "parameters": {
          "tableName": "memoria_vectorial",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          -1216,
          896
        ],
        "id": "a39d9782-8605-4c03-8bda-5c2ad5f43883",
        "name": "Postgres PGVector Store",
        "credentials": {
          "postgres": {
            "id": "qBUlViRVRXIdibki",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
        "typeVersion": 1,
        "position": [
          -992,
          1088
        ],
        "id": "07066f7e-50a4-4282-a0f0-764a3a37f240",
        "name": "Embeddings HuggingFace Inference",
        "credentials": {
          "huggingFaceApi": {
            "id": "yjZqtJsoDBtXKdsU",
            "name": "HuggingFaceApi account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Insert rows in a table in Postgres",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "memoria_paco",
            "mode": "list",
            "cachedResultName": "memoria_paco"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "dato": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dato', ``, 'string') }}",
              "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "dato",
                "displayName": "dato",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "categoria",
                "displayName": "categoria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "fecha_creacion",
                "displayName": "fecha_creacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          -64,
          800
        ],
        "id": "5ee0fc65-7870-48b5-a31e-a3997c88c9b5",
        "name": "Insert rows in a table in Postgres",
        "credentials": {
          "postgres": {
            "id": "qBUlViRVRXIdibki",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages in Gmail": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create a task in Google Tasks": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many tasks in Google Tasks": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update a task in Google Tasks": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SerpAPI": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "ai_tool": [
          []
        ]
      },
      "Select rows from a table in Postgres": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Answer questions with a vector store",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Answer questions with a vector store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Answer questions with a vector store",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings HuggingFace Inference": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table in Postgres": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandro Rico Garcia",
    "name": "Version 777b4af4",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-28T09:40:43.893Z",
      "createdAt": "2026-02-28T09:40:43.893Z",
      "id": "FU5wUx2Ol9QN5qlR",
      "name": "PRODUCTION"
    }
  ]
}