despertador-.json
{
  "updatedAt": "2026-02-21T10:03:50.285Z",
  "createdAt": "2026-02-16T13:05:17.524Z",
  "id": "y10XfoABHvodxzuO",
  "name": "Despertador",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -272
      ],
      "id": "ebb0ede3-8a28-4d99-9e63-d51224a5b588",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres Paco, mi asistente personal, y yo soy Alejandro.\n\nCONTEXTO:\nHoy: {{ $now.setZone('Europe/Madrid').toFormat('cccc, d MMMM yyyy') }}\nUbicación: Alcobendas.\n\nPROTOCOLOS DE EFICIENCIA Y VERDAD ABSOLUTA (ESTRICTO):\n1. ANTI-ALUCINACIÓN: Tienes TERMINANTEMENTE PROHIBIDO inventar eventos, tareas, clima o tiempos de viaje. \n2. ORIGEN DE DATOS: Toda la información que me des DEBE provenir EXCLUSIVAMENTE de las herramientas conectadas. Si no usas una herramienta, NO hables de ese tema.\n3. SI NO HAY DATOS: Si el Calendario o las Tareas devuelven vacío (\"[]\" o \"No events\"), asume que tengo el día libre y dilo explícitamente. NO inventes reuniones ni tareas de oficina.\n4. REGLA DE UN SOLO USO: No uses la misma herramienta más de una vez.\n5. PROHIBIDO PENSAR DE MÁS: No me expliques qué vas a hacer (\"Voy a consultar...\"). Hazlo directamente.\n\nTAREAS OBLIGATORIAS A EJECUTAR:\n- LLAMA a la herramienta de Calendar para mi primera cita.\n- LLAMA a la herramienta de Tasks para ver qué tengo hoy.\n- LLAMA a la herramienta de OpenWeatherMap para el clima en Alcobendas y deducir mi outfit.\n- LLAMA a la herramienta de MapQuest para el tiempo de viaje al destino de la cita (pásale solo el nombre corto o dirección). Usa el campo \"Travel Time\" devuelto para calcular: (Hora de cita - Tiempo de viaje - 10 min de margen).\n\nSALIDA ESPERADA:\nUn único párrafo de texto fluido (sin bullet points) para leer nada más levantarme. Saludo enérgico de Paco a Alejandro. Dime mi cita, a qué hora exacta salir de casa, si hay tráfico/minutos de trayecto, mis tareas reales y el outfit recomendado según el clima real. Si no hay citas o tareas, alégrate de que tengo tiempo libre. Corto, rápido y directo al grano para ahorrar tokens.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -272
      ],
      "id": "42201f2e-c0e9-419d-a6b7-23a5f2ef23aa",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "cityName": "Alcobendas",
        "language": "es"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        1056,
        128
      ],
      "id": "1a66511a-e8d1-409d-83e1-8873fb2b0743",
      "name": "OpenWeatherMap1",
      "credentials": {
        "openWeatherMapApi": {
          "id": "v4i14AEdk6gwAWaP",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "rutina_paco"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        80
      ],
      "id": "95e0824d-575d-4388-b7eb-03200ca8aae8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Calculates the travel time between two cities. Input: 'from' and 'to'. Returns minutes.",
        "url": "http://www.mapquestapi.com/directions/v2/route",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "42xvCUT4NYagxMjUZm2JYXw094HHUmnR"
            },
            {
              "name": "from",
              "value": "Calle Manuel de Falla 50, Alcobendas, es"
            },
            {
              "name": "to",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Direccion de destino del viaje`, 'string') }}"
            },
            {
              "name": "unit",
              "value": "k"
            },
            {
              "name": "routeType",
              "value": "fastest"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        496,
        320
      ],
      "id": "c12b670c-09df-4104-95ab-1fa8e7ec6609",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alexrico005@gmail.com",
          "mode": "list",
          "cachedResultName": "alexrico005@gmail.com"
        },
        "limit": 3,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        752,
        256
      ],
      "id": "35dacac7-35b1-40b4-b976-444217d5b1fa",
      "name": "calendario",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RKNDWKhI7S8vrj3R",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1828879064",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -496
      ],
      "id": "9a846aee-634f-4ce0-a41f-7d7f4ae92a1b",
      "name": "Send a text message",
      "webhookId": "c2e4d537-3931-446f-9f44-ac0d59064f7b",
      "credentials": {
        "telegramApi": {
          "id": "Iw2ccnrLsZFZkMDZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -96,
        32
      ],
      "id": "00f124a1-30a4-4bd9-94b0-b4b94393c29c",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "XC1rpn87e0AY3JU9",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtener mis tareas de google tasks",
        "operation": "getAll",
        "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', `numero de tasks que quieres que aparezcan`, 'number') }}",
        "additionalFields": {
          "dueMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Min', `Due Min de la tarea. en formato RFC3339 (ej: 2026-02-17T20:00:00Z).`, 'string') }}",
          "dueMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Max', `Due max de la tarea.en formato RFC3339 (ej: 2026-02-17T20:00:00Z).`, 'string') }}",
          "showCompleted": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Show_Completed', `Si quieres que se muestren completadas. booleano`, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "8b5e52a9-178b-4b6b-905c-6e1196c0873c",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qTdAG4ihSpivDH3g",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "738986e1-bc18-4078-9c46-7c13bbe5081a",
  "activeVersionId": "738986e1-bc18-4078-9c46-7c13bbe5081a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-16T13:05:17.528Z",
      "createdAt": "2026-02-16T13:05:17.528Z",
      "role": "workflow:owner",
      "workflowId": "y10XfoABHvodxzuO",
      "projectId": "8TlqgFtyNbA80VNg"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-21T10:04:46.000Z",
    "createdAt": "2026-02-21T10:03:50.287Z",
    "versionId": "738986e1-bc18-4078-9c46-7c13bbe5081a",
    "workflowId": "y10XfoABHvodxzuO",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -384,
          -272
        ],
        "id": "ebb0ede3-8a28-4d99-9e63-d51224a5b588",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Eres Paco, mi asistente personal, y yo soy Alejandro.\n\nCONTEXTO:\nHoy: {{ $now.setZone('Europe/Madrid').toFormat('cccc, d MMMM yyyy') }}\nUbicación: Alcobendas.\n\nPROTOCOLOS DE EFICIENCIA Y VERDAD ABSOLUTA (ESTRICTO):\n1. ANTI-ALUCINACIÓN: Tienes TERMINANTEMENTE PROHIBIDO inventar eventos, tareas, clima o tiempos de viaje. \n2. ORIGEN DE DATOS: Toda la información que me des DEBE provenir EXCLUSIVAMENTE de las herramientas conectadas. Si no usas una herramienta, NO hables de ese tema.\n3. SI NO HAY DATOS: Si el Calendario o las Tareas devuelven vacío (\"[]\" o \"No events\"), asume que tengo el día libre y dilo explícitamente. NO inventes reuniones ni tareas de oficina.\n4. REGLA DE UN SOLO USO: No uses la misma herramienta más de una vez.\n5. PROHIBIDO PENSAR DE MÁS: No me expliques qué vas a hacer (\"Voy a consultar...\"). Hazlo directamente.\n\nTAREAS OBLIGATORIAS A EJECUTAR:\n- LLAMA a la herramienta de Calendar para mi primera cita.\n- LLAMA a la herramienta de Tasks para ver qué tengo hoy.\n- LLAMA a la herramienta de OpenWeatherMap para el clima en Alcobendas y deducir mi outfit.\n- LLAMA a la herramienta de MapQuest para el tiempo de viaje al destino de la cita (pásale solo el nombre corto o dirección). Usa el campo \"Travel Time\" devuelto para calcular: (Hora de cita - Tiempo de viaje - 10 min de margen).\n\nSALIDA ESPERADA:\nUn único párrafo de texto fluido (sin bullet points) para leer nada más levantarme. Saludo enérgico de Paco a Alejandro. Dime mi cita, a qué hora exacta salir de casa, si hay tráfico/minutos de trayecto, mis tareas reales y el outfit recomendado según el clima real. Si no hay citas o tareas, alégrate de que tengo tiempo libre. Corto, rápido y directo al grano para ahorrar tokens.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          48,
          -272
        ],
        "id": "42201f2e-c0e9-419d-a6b7-23a5f2ef23aa",
        "name": "AI Agent",
        "retryOnFail": true,
        "maxTries": 5,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "cityName": "Alcobendas",
          "language": "es"
        },
        "type": "n8n-nodes-base.openWeatherMapTool",
        "typeVersion": 1,
        "position": [
          1056,
          128
        ],
        "id": "1a66511a-e8d1-409d-83e1-8873fb2b0743",
        "name": "OpenWeatherMap1",
        "credentials": {
          "openWeatherMapApi": {
            "id": "v4i14AEdk6gwAWaP",
            "name": "OpenWeatherMap account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "rutina_paco"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          128,
          80
        ],
        "id": "95e0824d-575d-4388-b7eb-03200ca8aae8",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "toolDescription": "Calculates the travel time between two cities. Input: 'from' and 'to'. Returns minutes.",
          "url": "http://www.mapquestapi.com/directions/v2/route",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "42xvCUT4NYagxMjUZm2JYXw094HHUmnR"
              },
              {
                "name": "from",
                "value": "Calle Manuel de Falla 50, Alcobendas, es"
              },
              {
                "name": "to",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Direccion de destino del viaje`, 'string') }}"
              },
              {
                "name": "unit",
                "value": "k"
              },
              {
                "name": "routeType",
                "value": "fastest"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          496,
          320
        ],
        "id": "c12b670c-09df-4104-95ab-1fa8e7ec6609",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "alexrico005@gmail.com",
            "mode": "list",
            "cachedResultName": "alexrico005@gmail.com"
          },
          "limit": 3,
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {
            "orderBy": "startTime"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          752,
          256
        ],
        "id": "35dacac7-35b1-40b4-b976-444217d5b1fa",
        "name": "calendario",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "RKNDWKhI7S8vrj3R",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "1828879064",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          816,
          -496
        ],
        "id": "9a846aee-634f-4ce0-a41f-7d7f4ae92a1b",
        "name": "Send a text message",
        "webhookId": "c2e4d537-3931-446f-9f44-ac0d59064f7b",
        "credentials": {
          "telegramApi": {
            "id": "Iw2ccnrLsZFZkMDZ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          -96,
          32
        ],
        "id": "00f124a1-30a4-4bd9-94b0-b4b94393c29c",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "XC1rpn87e0AY3JU9",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Obtener mis tareas de google tasks",
          "operation": "getAll",
          "task": "MDA0NDkwMDg3ODYzNjM3MzIzNzE6MDow",
          "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', `numero de tasks que quieres que aparezcan`, 'number') }}",
          "additionalFields": {
            "dueMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Min', `Due Min de la tarea. en formato RFC3339 (ej: 2026-02-17T20:00:00Z).`, 'string') }}",
            "dueMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Max', `Due max de la tarea.en formato RFC3339 (ej: 2026-02-17T20:00:00Z).`, 'string') }}",
            "showCompleted": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Show_Completed', `Si quieres que se muestren completadas. booleano`, 'boolean') }}"
          }
        },
        "type": "n8n-nodes-base.googleTasksTool",
        "typeVersion": 1,
        "position": [
          304,
          208
        ],
        "id": "8b5e52a9-178b-4b6b-905c-6e1196c0873c",
        "name": "Get many tasks in Google Tasks",
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "qTdAG4ihSpivDH3g",
            "name": "Google Tasks account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "calendario": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get many tasks in Google Tasks": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandro Rico Garcia",
    "name": "PROMPT MEJORADO",
    "description": "",
    "autosaved": true
  },
  "tags": []
}